/* reset css */


:root{
    --height-header-top: 46px;
    --height-header-bottom: 80px;
    --primary-color: #3fd0d4;
    --white-color: #fff;
    --text-color: #212121;
    --footer-color: #212121;
    --color-text-footer: #a9a9a9;
}

@keyframes cloudeffect{
    0%{
        background-position: 0px;
    }
    100%{
        background-position: -5440px;
    }
}
@keyframes cloudeffectplans{
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 5440px;
    }
}
@-webkit-keyframes zoom{
    from{-webkit-transform: scale(0)}
    to{
        -webkit-transform: scale(1)
    }
}
@keyframes zoom{
    from{transform: scale(0)}
    to{
        transform: scale(1)
    }
}
@keyframes  animate {
    0% {
    background-position: 0 0;
    }
    100% {
    background-position: 50px 50px;
    transform: scaleX(1);
    }
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}

@keyframes showText2{
    100%{
        opacity: 1;
    }
}
