
@import './about_us/about_us.css';
@import './blog_masonry/blog_resonry.css';
@import './contact_us/contact_us.css';
@import './standard_list/standard_list.css';
@import './detail.tour/detail_tour.css';



/* page_masonry_ */
.slider{
    width: 100%;
    height: 520px;
    overflow: hidden;
    position: relative;
}
.cloud-effect{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url(/frontend/img/img_slider/cloud.png);
    animation: cloudeffect 90s linear infinite;
}
.slider-text{
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 10rem;
    font-weight: 600;
    color: #fff;
}
.slider-img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;

}
.person{
    position: absolute;
    width: 650px;
    bottom: -100px;
    left: -70px;
    z-index: 20;
}

.opacity{
    opacity: 0;
}

