

@import './base.css';
@import './about_us/about_us.css';
@import './blog_masonry/blog_resonry.css';
@import './contact_us/contact_us.css';
@import './standard_list/standard_list.css';
@import './detail.tour/detail_tour.css';

/*
 * header top
 */




.header-top{
    width: 100%;
    position: relative;
    vertical-align: middle;
    height: 46px;
    background-color: #1c1c1c;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}
.header-top__left{
    font-size: 13px;
    padding-left: 20px;
    display: inline-block;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.header-top__left-item{
    text-decoration: none;
    color: var(--white-color);
    margin-right: 20px;
    transition: .3s;
}
.header-top__left-item:hover{
    color: var(--primary-color);
}
.header-top__left-item .left-item__text{
    padding-left: 10px;
}
.header-top__left-item i{
    color: var(--primary-color);
}

.header-top__right{
    font-size: 13px;
    padding-right: 20px;
    display: inline-block;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}


.social-link{
    margin-right: 12px;
    color: var(--white-color);
    text-decoration: none;
    transition: .3s;
    padding: 2px;
}
.social-link:hover{
    color: var(--primary-color);
}
.language{
    position: relative;
    width: 142px;
    height: 100%;
    text-align: center;
    background-color: #39bdc1;
    z-index: 100;
}
.language .language-link{
    text-decoration: none;
    position: relative;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 400;
    line-height: var(--height-header-top);
    transition: 0.4s;
}
.language-item .language-link{
    padding: 5px 0;
}
.language .active.language-link{
    display: block;
    width: 100%;
    height: 100%
}
.active.language-link::after{
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-size: 13px;
    color: var(--white-color);
    font-weight: 600;
    padding-left: 10px;
}
.language-list{
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    background-color: #39bdc1;
    transition: height ease-in 0.3s;
    will-change: height;
    overflow: hidden;
    box-shadow: -3px 4px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;

}
.language-list .language-item{
    width: 100%;
    position: relative;
}
.language:hover .language-list{
    height: 150px;
    opacity: 1;
}
.language-list .language-link::before{
    content: '';
    position: absolute;
    top: 0;
    left: -60px;
    bottom: 0;
    width: 162px;
}
.language-list .language-link::after{
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color:var(--white-color);
    transition: width ease-in-out 0.3s;
    will-change: width;
}
.language-list .language-link:hover::after{
    width: 100%;
}
/*
* header bottom
*/
.header-bottom{
    width: 100%;
    position: relative;

    height: 80px;
    background-color: var(--white-color);
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.logo{
    height: 100%;
    padding-left: 20px;
    display: flex;
    display: -webkit-flex;
}
.logo a{
    width: 100%;
    margin: auto;
}
.logo img{
    max-width: 160px;
}

.header-mid
{
    width: 100%;
    height: 100%;
}
.header-mid .header-nav__list{
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    list-style: none;

}
.header-nav__item{
    position: relative;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    height: 100%;
}
.header-nav__item .header-nav__link{
    font-size: 1.5rem;
    line-height: 25px;
    width: 100%;
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-weight: 600;
    color: var(--text-color);
    transition: color .2s ease-out;
    margin: 0 36px;
}
.subnav-list{
    background-color: var(--white-color);
    z-index: 10;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    font-size: 1.5rem;
    width: 250px;
    box-shadow: -4px 6px 10px rgba(0, 0, 0, 0.2);
    padding: 0;
    overflow: hidden;
    height: 0;
    transition: all ease 0.4s;
}
.header-nav__item:hover .subnav-list{
    height: 120px;
    padding: 20px 0;
}
.subnav-item{
    padding: 0 20px;
}

.subnav-item .subnav-link{
    position: relative;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    padding: 8px 0;
    display: inline-block;
}
.header-nav__link:hover,
.subnav-link:hover{
    color: var(--primary-color);
}
.header-nav__item .header-nav__link::before{
    content: '';
    position: absolute;
    left: -18px;
    top: -28px;
    width: 100px;
    height: 80px;
}
.subnav-link::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
}
.header-nav__link::after,
.subnav-link::after{
    content: '';
    position: absolute;
    display: block;
    top: 80%;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width ease 0.4s;
    will-change: width;
}
.header-nav__link:hover::after,
.subnav-link:hover::after{
    width: 100%;
}
/*
* header right
*/
.header-right{
    display: -webkit-flex;
    display: flex;
    font-size: 20px;
    padding-right: 20px;
}
.cart-wrap{
    margin-right: 20px;
    position: relative;

}
.header-right .header-cart{
    text-decoration: none;
    color: #0c0c0c;
}
.header-cart:hover{
    color: var(--primary-color);
}
.header-search-btn i{
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
            transform: rotate(90deg);
            cursor: pointer;
}
.header-search-btn i:hover{
    color: var(--primary-color);
}
.header-cart__content{
    font-size: 13px;
    width: 100%;
    padding: 0 20px;
    display: inline-block;

}
/*form search */
.form-search{
   position: fixed;
   width: 50%;
   height:  100px;
   transform: translate(-50%, -50%);
   z-index: 10;
   top: 50%;
   left: 50%;
   display: none;

}
.search-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    height: 100%;
}
.search-wrap .search__input{
    height: 82px;
    padding: 0 35px;
    margin: 0;
    color: #848484;
    background-color: var(--white-color);
}
.search__input[type=text]{
    position: relative;
    width: 100%;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: calc(50px - 12px * 2);
    color: #848484;
    background-color: #f8f8f8;
    border: 0;
    border-radius: 0;
    outline: 0;
    cursor: auto;
    -webkit-appearance: none;
    box-sizing: border-box;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.search__btn{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.692307692307692em;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    outline: 0;
    box-sizing: border-box;
    -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    color: var(--white-color);

    background-color: var(--primary-color);
  
    border: 1px solid transparent;
    height: 82px;
    padding: 16px 72px 12px;
    white-space: nowrap;
}
.search__btn:hover{
    cursor: pointer;
    background-color: #127a7e;
}

/* footer */
.footer-logo img{
    width: 200px;
}
.footer-wrap{
    padding-top: 105px;
    padding-bottom: 78px;
}
.social-footer{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-direction: column;
    font-size: 1.4rem;
}
.footer__location{
    margin-top: 15px;
}
.recent-location{
    text-decoration: none;
    display: block;
}
.recent-time__link{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--white-color);
}
a.recent-time__link:hover{
    color: var(--primary-color);
    transition: color ease 0.3s;
}
/* form */
.footer-form{
    margin-top: 25px;
}

.footer-form__wrap span
{
    position: relative;
    font-size: 1.4rem;
    color: #fff;
    z-index: 3;
}
.footer-form__wrap .icon-user::before
{
    position: absolute;
    content: '\f007';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    left: 20px;
    top: -2px;
}
.footer-form__wrap .icon-email::before{
    position: absolute;
    content: '\f0e0';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    left: 20px;
    top: -2px;
}



/* page_masonry_ */
.slider{
    width: 100%;
    height: 520px;
    overflow: hidden;
    position: relative;
}
.cloud-effect{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url(/frontend/img/img_slider/cloud.png);
    animation: cloudeffect 90s linear infinite;
}
.slider-text{
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 10rem;
    font-weight: 600;
    color: #fff;
}
.slider-img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;

}
.person{
    position: absolute;
    width: 650px;
    bottom: -100px;
    left: -70px;
    z-index: 20;
}

.opacity{
    opacity: 0;
}


