
/* mobile */
@media only screen and (max-width:46.1875em){
    .container_about_us_item-img img{
        width: 100%;
        height: 125%;
    }


}

    /*  tablet */
    @media only screen and (min-width:46.25em)and (max-width:63.9375em) {
        .container_about_us_item-img{
            width: 100%;
        }

    }
    /* Tablet and Mobile  */
    @media only screen and (max-width:63.9375em){

        .container_about_us-item {
            padding-bottom: 20px;
        }
        .container_about_us-item1 {
            padding: 40px 0 20px 0;
        }
        .container_video_about_us{
            margin-top: 20px;
        }
        .famous_list{
            padding: 0;
        }
        .container_footer_about_us-list_item{
            display: flex;
            flex-direction: column;
        }
        .container_footer_about_us{
            width: 100%;
            height: auto;
            background-color: #3fd0d4;
        }
        .container_footer_about_us_item-text{
            line-height: 40px;
            padding: 0 20px;
        }
        .container_footer_about_us_item-button{
            margin:25px ;
        }
    }
    /* PC */
    @media screen and (min-width:1024px) {
        .container_about_us_item-img {
            padding-left: 100px;

        }
        .container_popular_tours{
            padding-top: 200px;
        }
        .popular_tours-img img{
            width: 100%;
            padding: 0px 128px 120px 128px
          }

        .container_footer_about_us-list_item{
            display: flex;
            justify-content: space-between;
            justify-items: center;
            justify-content: center;
        }
        .container_famous{
          padding-bottom: 40px;
        }

    }
